[submodule "verus"]
	path = deps/verus
	url = https://github.com/zhengyao-lin/verus.git
	branch = x509
[submodule "deps/libcrux"]
	path = deps/libcrux
	url = https://github.com/zhengyao-lin/libcrux.git
	branch = main
